/*
This file is a copyrighted work of CKSource and is protected under Poland and worldwide copyright laws and treaty provisions.
CKSource grants you permission to distribute this file exclusively as part of the CKEditor SDK.
It is forbidden to copy and distribute this file in its original or modified form in any other way than together with the CKEditor SDK that this file constitutes an integral part of.
*/

@tree-a-link-font-color: 					#787878;
@tree-a-active-group-color-a:				rgba(0,0,0,0);
@tree-a-active-group-color-b:				rgba(0,0,0,.04);
@tree-a-active-group-background:			linear-gradient( to right, @tree-a-active-group-color-a, @tree-a-active-group-color-b );
@tree-a-item-v-gap:							7px;

.tree-a-box-shadow {
	.box-shadow( -8px 0 6px -4px rgba( 0, 0, 0, .06 ) inset );
}

.tree-a-active-item( @color: @global-link-font-color ) {
	background: @color;
	.background-image( linear-gradient( to right, #fff 0%, @color 30%, @color 100% ) );

	.global-is-mobile( {
		background: @color;
	} );
}

.tree-a {
	// Override grid right-padding.
	padding-right: 0;
	text-align: right;

	.global-is-mobile( {
		text-align: left;
	} );

	&-standalone {
		.tree-a-box-shadow;
		border-right: 1px solid @global-box-border-color;
		overflow: hidden;
		padding-bottom: 1px;

		.global-is-mobile( {
			.box-shadow( none );
			border: 0;
			padding-right: 0;
		} );

		& > *:last-child {
			border-bottom: 0;
		}
	}

	&-layout {
		border-width: 1px 0 0;
		.global-box-border-gradient();
		// Legacy support.
		border-color: @global-box-border-color;

		.global-is-mobile( {
			.border-image( none );
			padding-right: @grid-gutter-width;
			text-align: left;
		} );

		&:after {
			.tree-a-box-shadow;
			.box-sizing( border-box );

			border-right: 1px solid @global-box-border-color;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: auto;
			visibility: visible;
			z-index: -100;

			.global-box-border-gradient();
			border-width: 0 1px 1px 0;
			// Legacy support.
			border-color: @global-box-border-color;

			.global-is-mobile( {
				display: none;
			} );

			// Generate :after widths for specific grids.
			.widths( 100 );
			.widths( @n, @i: 10 ) when (@i =< @n) {
				.grid-width-@{i}& { width: unit( @i, % ); }
				.widths( @n, ( @i + @grid-width-step ) );
			}
		}
	}

	h1, h2 {
		color: #000;
	}

	h1 {
		.global-font-size( 1.125 );
		margin-top: 25px;
		margin-bottom: 25px;
		padding-right: 41px;
		font-weight: 700;
	}

	h2 {
		.global-font-size( .875 );
		.user-select( none );
		cursor: pointer;
		font-weight: 500;

		padding: @tree-a-item-v-gap (40px - @icon-size - @icon-margin) @tree-a-item-v-gap 15px;
		margin: 0 0 -1px;
		position: relative;

		.global-box-border-gradient();
		border-width: 1px 0;
		// Legacy support.
		border-color: @global-box-border-color;

		.global-is-mobile( {
			border-color: @global-box-border-color;
			.border-image( none );
		} );

		// Enable expander icons. Collapsed is default.
		&:extend( .icon-pos-right all, .icon-tree-a-collapsed all );

		&:hover, &.active {
			background: @tree-a-active-group-background;

			.global-is-mobile( {
				background: @tree-a-active-group-color-b;
			} );
		}

		&.active {
			border-bottom-width: 0;
			margin-bottom: 0;

			// Enable expanded icon.
			&:extend( .icon-tree-a-expanded all );

			& + ul {
				display: block;
				border-top-width: 0;
				background: @tree-a-active-group-background;

				.global-is-mobile( {
					background: @tree-a-active-group-color-b;
				} );
			}
		}
	}

	ul {
		margin: 0 0 -1px;
		padding: 0;
		display: none;

		.global-box-border-gradient();
		border-width: 0 0 1px;
		// Legacy support.
		border-color: @global-box-border-color;

		.global-is-mobile( {
			border-color: @global-box-border-color;
			.border-image( none );
		} );

		li {
			margin: 0;
			padding: 0;
			list-style-type: none;

			a {
				color: @tree-a-link-font-color;
				.global-font-size( 0.875 );
				font-weight: 300;
				text-decoration: none;
				display: block;
				padding: @tree-a-item-v-gap 40px @tree-a-item-v-gap 20px;
				outline: none;

				&:hover {
					color: @tree-a-link-font-color;
					.tree-a-active-item( lighten( @tree-a-active-group-color-b, 50% ) );
				}
			}

			&.active a {
				color: #fff;
				font-weight: 500;
				.tree-a-active-item();

				&:hover {
					color: #fff;
					.tree-a-active-item( @global-link-font-color-hover );
				}
			}
		}
	}
}

.icon-tree-a-expanded,
.icon-tree-a-collapsed {
	&:before, &:after {
		background-image: data-uri( 'img/icon-tree-a-collapser.png' );
	}
}

.icon-tree-a-expanded {
	&:before, &:after {
		background-position: left top;
	}
}

.icon-tree-a-collapsed {
	&:before, &:after {
		background-position: left bottom;
	}
}
